<!DOCTYPE html>
<html>
<head>
  <title>Profile Page</title>
</head>
<body>
  <h2>Name: <%= user.name %></h2>
  <p>Age: <%= user.age %></p>

  <h3>Hobbies:</h3>
  <ul>
    <% user.hobbies.forEach(hobby => { %>
      <li><%= hobby %></li>
    <% }) %>
  </ul>
</body>
</html>
